<div class="min-h-screen flex items-center justify-center"style="background-image: url('/ec2fe2e4-c3db-45d5-87ea-f33e29f0ee9d.jpg'); background-size: cover; background-position: center;">
  <div class="relative w-full max-w-sm bg-gray-800 shadow-2xl pt-16 pb-8 px-8 text-white space-y-6">

    <!-- Logo sobresaliente -->
    <div class="absolute -top-12 left-1/2 transform -translate-x-1/2">
      <div class="w-24 h-24 rounded-full flex items-center justify-center shadow-lg">
        <img src="dueldeck.png" alt="Logo DuelDeck" class="w-24 h-24 object-contain rounded-full" />
      </div>
    </div>

    <h2 class="text-2xl font-bold text-center">Registro</h2>

    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-gray-300">Usuario</label>
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          required
          placeholder="Nombre de usuario"
          class="mt-1 w-full px-4 py-2 border border-gray-600 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cyan-400"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-300">Contraseña</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="Contraseña"
          class="mt-1 w-full px-4 py-2 border border-gray-600 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cyan-400"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-300">Nombre</label>
        <input
          type="text"
          [(ngModel)]="firstName"
          name="firstName"
          required
          placeholder="Nombre"
          class="mt-1 w-full px-4 py-2 border border-gray-600 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cyan-400"
        />
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-300">Apellidos</label>
        <input
          type="text"
          [(ngModel)]="lastName"
          name="lastName"
          required
          placeholder="Apellidos"
          class="mt-1 w-full px-4 py-2 border border-gray-600 bg-gray-700 text-white rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-cyan-400"
        />
      </div>

      

      <button
        type="submit"
        class="w-full bg-cyan-400 text-gray-900 font-semibold py-2 px-4 rounded-md hover:bg-cyan-300 transition"
      >
        Crear cuenta
      </button>
    </form>

    <p *ngIf="error" class="text-sm text-red-400 text-center">{{ error }}</p>
    <p *ngIf="success" class="text-sm text-green-400 text-center">{{ success }}</p>
  </div>
</div>
