<div class="min-h-screen flex items-center justify-center  py-8"style="background-image: url('/109611665_p0_master1200.jpg'); background-size: cover; background-position: center;">
  
  <div class="w-full max-w-md bg-gray-800 p-8 rounded-2xl shadow-2xl border border-cyan-700 text-white space-y-8">
    <h2 class="text-3xl font-bold text-center text-cyan-400 mb-4 tracking-wide">
      Contacto
    </h2>

    <div class="space-y-4 text-base">
      <div class="flex items-center gap-3">
        <mat-icon color="primary">person</mat-icon>
        <span class="font-semibold">Keiner Matías Hurtado Escobar</span>
      </div>

      <div class="flex items-center gap-3">
        <mat-icon color="primary">alternate_email</mat-icon>
        <span>
          <a href="mailto:keinerhurtado2805@gmail.com" class="text-cyan-400 hover:underline">
            keinerhurtado2805&#64;gmail.com
          </a>
        </span>
      </div>

      <div class="flex items-center gap-3">
        <mat-icon color="primary">phone</mat-icon>
        <span>
          <a href="tel:+34625639860" class="text-cyan-400 hover:underline">
            +34 625 639 860
          </a>
        </span>
      </div>

      <div class="flex items-center gap-3">
        <mat-icon color="primary">linkedin</mat-icon>
        <span>
          <a href="https://www.linkedin.com/in/keiner-mat%C3%ADas-hurtado-escobar/"
             target="_blank"
             rel="noopener"
             class="text-cyan-400 hover:underline">
            linkedin.com/in/keiner-matías-hurtado-escobar
          </a>
        </span>
      </div>

      <div class="flex items-center gap-3">
        <mat-icon color="primary">code</mat-icon>
        <span>
          <a href="https://github.com/Saitek2805"
             target="_blank"
             rel="noopener"
             class="text-cyan-400 hover:underline">
            github.com/Saitek2805
          </a>
        </span>
      </div>
    </div>

    <div class="text-center pt-6">
      <span class="text-gray-400 text-xs">
        ¿Quieres saber más? ¡Contacta conmigo sin compromiso!
      </span>
    </div>
  </div>
</div>
